<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-wigth, initial-scale=1.0" />
    <meta name="description" content="curriculum vitæ  de Samuel VIVIER pour le poste de Développeur web et web mobil Junior" />
    <title>Samuel vivier</title>
    <link rel="stylesheet" href="./CSS/Start-font.css" />
    <link rel="stylesheet" href="./CSS/bloc.css" />
  </head>
  <body>
    <header>
      <figure class="Photo_Sam">
        <a href="./Photos_et_icones/Samuel_vivier.png" target="_blank"
          ><img class="Profil" src="./Photos_et_icones/Samuel_vivier.png" alt="Photo de Samuel VIVIER"
        /></a>
      </figure>

      <h1>SAMUEL VIVIER</h1>
      <h2>Développeur web junior</h2>

      <address class="coordonné">
        <div>
          <a
            href="https://www.google.com/maps/place/13+Quai+de+Pierre-Scize,+69009+Lyon/@45.7673206,4.8111781,17z/data=!3m1!4b1!4m6!3m5!1s0x47f4eb098a7ffa75:0x2c54354a84569a72!8m2!3d45.7673169!4d4.813753!16s%2Fg%2F11cs6slm6m?entry=ttu"
          >
            13Bis Quai Pierre Scize <br />
            69009 Lyon
          </a>
        </div>

        <div>
          <a href="mailto:samvivier22@gmail.com">samvivier22@gmail.com</a>
        </div>

        <div>
          <a href="tel:06.78.06.92.62">06.78.06.92.62</a>
        </div>
      </address>
    </header>

    <main>
      <!--partie gauche  -->
      <section class="bloc_left">
        <h3>A propos</h3>
        <p class="paragraphe_gauche">
          Passionné de développement web et web mobile, je suis actuellement en formation et à la recherche d'un stage de 10 semaines minimum pour
          concrétiser mes compétences et contribuer à des projets passionnants.
        </p>

        <h3>Langues parlées</h3>
        <ul>
          <li>Francais - Langue maternelle</li>
          <li>Anglais - Intermédiaire</li>
          <li>Japonais - Débutant</li>
        </ul>
        <h3>Centres d'intérêts</h3>
        <ul>
          <li>Fitness</li>
          <li>Karaté (loisir, ceinture bleu)</li>
          <li>Plongée sous-marine</li>
          <li>Jeux de société (plateau, statégie en équipe)</li>
          <li>Jeux vidéos (jeux de stratégie)</li>
          <li>Casse-tête et énigmes</li>
        </ul>
      </section>
      <!-- partie droite -->
      <section class="bloc_right">
        <article>
          <h3>Expériences professionnelles</h3>
          <h4>Opérateur machine chez Compagnie&Co, Dissay (86)</h4>
          <p>De juillet 2022 à août 2023</p>
          <ul>
            <li>Conditionnement</li>
            <li>Entretien machine</li>
            <li>Contrôle qualité</li>
          </ul>
          <h4>Pâtissier chez E.Leclerc, Châtellerault (86)</h4>
          <p>De juin 2021 à février 2022</p>
          <ul>
            <li>Mise en place</li>
            <li>Préparation et décoration d'entremets</li>
            <li>Confection de pâtisseries</li>
          </ul>
          <h4>Mission d'interim, Châtellerault (86)</h4>
          <p>De 2018 à 2020</p>
          <ul>
            <li>Mécanicien/Monteur à Fenwick</li>
            <li>Tourneur à SARL Rousseau & Fils</li>
            <li>Ouvrier sur commande numérique à Mécafi</li>
            <li>Ouvrier industriel aux Fonderies du Poitou</li>
          </ul>
        </article>

        <article>
          <h3>Diplôme/Formations</h3>
          <h4>Titre Professionnel Développeur web et web mobile</h4>
          <p>De 2023 à 2024</p>
          <p>Centre Européen de Formation</p>

          <h4>CAP Pâtissier/Boulanger</h4>
          <p>De 2013 à 2016</p>
          <p>CFA de Chantejeau (86)</p>

          <h4>Bac pro Restauration</h4>
          <p>De 2010 à 2013</p>
          <p>Lycée Kyoto, Poitiers (86)</p>
        </article>

        <article>
          <h3>Compétence</h3>
          <ul>
            <li>HTML5 - Débutant</li>
            <li>CSS3 - Débutant</li>
            <li>Git - Débutant</li>
            <li>GitHub - Débutant</li>
          </ul>
        </article>
      </section>
    </main>
    <footer>
      <figure class="Logo">
        <a href="https://www.linkedin.com" ><img src="./Photos_et_icones/linkedin.svg" alt="Logo Linkedin" /></a>
        <a href="https://twitter.com" ><img src="./Photos_et_icones/twitter.svg" alt="Logo Twitter" /></a>
        <a href="https://github.com" ><img src="./Photos_et_icones/github.svg" alt="Logo GitHub" /></a>
      </figure>

      <p><small>Denière mise à jour le 10 Novembre 2022</small></p>
    </footer>
  </body>
</html>
